*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 1170px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0));
}
#line {
    width: 1350px;
    left: 70px;
    border-top: 2px solid lightskyblue;
    position: relative;
    top: 50px;
}
#type{
    color: rgb(0, 221, 255);
    font-size: larger;
    margin-left: 70px;
    position: relative;
    top: 10px;
}
#type1{
    color:rgb(0, 208, 231);;
    font-size: larger;
    margin-left: 110px;
    position: relative;
    top: 10px;
}
.logo{
    height: 20px;
    width: 12px;
   margin-top:-20px ;
    margin-left: 1360px;
}
#p{
    position: absolute;
    top: 20px;
    Right: 50px;
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}
#p:hover{
    color: #72c9ff;
}

.container {
  position: relative;
  width: 70%;
  max-width: 350px;
  top: 123px;
  left: 100px;
  color: rgb(255, 153, 0);
}
.container1{
 position: relative; 
 width: 70%;
 max-width: 350px;
 top: -165px; 
 left: 570px;
}
.container2{
 position: relative; 
 width: 70%;
 max-width: 350px;
 top: -450px; 
 left: 1000px;
}
.container3{
 position: relative; 
 width: 70%;
 max-width: 350px;
 top: -250px; 
 left: 1000px;
}
.container4{
 position: relative; 
 width: 70%;
 max-width: 350px;
 top: -540px; 
 left: 100px;
}
.container5{
 position: relative; 
 width: 70%;
 max-width: 350px;
 top: -827px; 
 left: 570px;
}
/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
 border-radius: 20px;
  border: 3px solid red;

}
.image1{
 display: block;
 width: 100%;
 height: auto;
 border-radius: 20px;
 border: 3px solid lightskyblue;
}
.image2{
  display: block;
  width: 100%;
  height: auto;
 border-radius: 20px;
  border: 3px solid red;

}
.image3{
  display: block;
  width: 100%;
  height: auto;
 border-radius: 20px;
  border: 3px solid red;

}
.image4{
  display: block;
  width: 100%;
  height: auto;
 border-radius: 20px;
  border: 3px solid red;

}
.image5{
  display: block;
  width: 100%;
  height: auto;
 border-radius: 20px;
  border: 3px solid lightskyblue;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(75,3,139, 0.5);/* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  transform: scale(0);
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
  transform: scale(1);  
  border-radius: 20px;
  border: 3px solid lightsteelblue;
 background: rgba(0,0,0, 0.5);

}
.container1:hover .overlay {
  opacity: 1;
  transform: scale(1);  
  border-radius: 20px;
  border: 3px solid lightsteelblue;
 background: rgba(0,0,0, 0.5);
}
.container2:hover .overlay {
 opacity: 1;
  transform: scale(1);  
  border-radius: 20px;
  border: 3px solid lightsteelblue;
 background: rgba(0,0,0, 0.5);
}
.container3:hover .overlay {
  opacity: 1;
  transform: scale(1);  
  border-radius: 20px;
  border: 3px solid lightsteelblue;
 background: rgba(0,0,0, 0.5);
}
.container4:hover .overlay {
   opacity: 1;
  transform: scale(1);  
  border-radius: 20px;
  border: 3px solid lightsteelblue;
 background: rgba(0,0,0, 0.5);

}
.container5:hover .overlay {
  opacity: 1;
  transform: scale(1);  
  border-radius: 20px;
  border: 3px solid lightsteelblue;
 background: rgba(0,0,0, 0.5);}
#footer {
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: -7px;
    margin-left: 10px;
}

#icon a {
    font-size: 40px;
    text-decoration: none;
    margin: 25px;
}
#line00 {
    width: 1350px;
    margin-left: 68px;
    border-top: 2px solid lightskyblue;
    position: relative;
    top: -700px;
}
