
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 720px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0));
}
#line {
    width: 1350px;
    left: 70px;
    border-top: 2px solid gainsboro;
    position: relative;
    top: 50px;
}
#type{
    color: rgb(0, 221, 255);
    font-size: larger;
    margin-left: 70px;
    position: relative;
    top: 10px;
}
#type1{
    color:rgb(0, 208, 231);;
    font-size: larger;
    margin-left: 110px;
    position: relative;
    top: 10px;
}
.logo{
    height: 20px;
    width: 12px;
   margin-top:-20px ;
    margin-left: 1360px;
}

h2 {
color: #fff;
text-align: center;
margin-top: 20px;
font-size: 60px;
}


#p{
    position: absolute;
    top: 20px;
    right: 70px;
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}
#p:hover{
    color: #72c9ff;
}
#p1{
    position: absolute;
    top: 187px;
    right: 359px;
    color:#fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
}
#p1:hover{
    color: #72c9ff;
}



h2{
    font-family: 'Imperial Script', cursive;
}
#footer {
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: -7px;
    margin-left: 10px;
}

#icon a {
    font-size: 40px;
    text-decoration: none;
    margin: 25px;
}
#line0 {
    width: 1350px;
    margin-left: 77px;
    border-top: 2px solid gainsboro;
    position: relative;
    top: 405px;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-top:-88px;
  margin-left:26%;
  color: white;
}

#customers td, #customers th {
  border: 3px solid lightgoldenrodyellow;
  padding: 20px;

}

#customers tr:nth-child(even){background-color: rgb(5, 10, 64,0.8);}

#customers tr:hover  {background-color: rgb(5, 10, 105,0.8);}

#customers th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: white;
  top: 200px;
}